.name-container{
    display:flex;
    align-items:center;
    gap:1rem;
}
.time{
    color:#334155;
    font-size:10px;
}
.profile-name{
     font-weight:bold;
     font-size:15px;
}
.like{
    color: #0ea5e9; 
    display:flex;
    align-items:center;  
}

.option-container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    
}
.yellow{
    background-color:#f59e0b;
    color:white;
    padding:15px;
    border-radius:50%;
}
.blue{
    background-color:#0b69ff;
    color:white;
    padding:15px;
    border-radius:50%;
}
.orange{
    background-color:#f97316;
    color:white;
    padding:15px;
    border-radius:50%;
}
.green{
    background-color:#10b981;
    color:white;
    padding:15px;
    border-radius:50%;
}
.red{
    background-color:#b91c1c;
    color:white;
    padding:15px;
    border-radius:50%;
}
.lightblue{
    background-color:#0ea5e9;
    color:white;
    padding:15px;
    border-radius:50%;
}
.dislike{
    color:black;
    display:flex;
    align-items:center;
}