*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.tabItem-color{
    color:white;
    font-weight:bold;
    border:0;
    background-color:transparent;
}
.selected-tab{
    color:#fec653;
    border:0;
    font-weight:bold;
    border-bottom:2px solid #fec653;
    background-color:transparent;  
}
